frontend socks5
   mode tcp
   bind :1080
   default_backend socks5_next_hop

frontend http
   mode tcp
   bind :8080
   default_backend http_next_hop

backend socks5_next_hop
   mode tcp
   balance leastconn
   {% for peer in peers %}
   {% if "forward-egress" in peer["relation"] %}
   server {{ peer.name }} {{ hostvars[peer.name]["wg_internal_ip"] }}:1080
   {% endif %}
   {% endfor %}

backend http_next_hop
   mode tcp
   balance leastconn
   {% for peer in peers %}
   {% if "forward-egress" in peer["relation"] %}
   server {{ peer.name }} {{ hostvars[peer.name]["wg_internal_ip"] }}:8080
   {% endif %}
   {% endfor %}
