[Unit]
Description=HTTP proxy server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/http-proxy-server
User=rktegress
Group=rktegress

[Install]
WantedBy=multi-user.target
