[Interface]
PrivateKey = {{ wg_private_key }}
Address = {{ wg_internal_ip }}/32
ListenPort = {{ wg_port }}

{% for peer in peers %}
[Peer]
PublicKey = {{ hostvars[peer.name]["wg_public_key"] }}
{% if "externalIp" in peer %}
Endpoint = {{ peer.externalIp }}:{{ hostvars[peer.name]["wg_port"] }}
{% endif %}
AllowedIPs = {{ hostvars[peer.name]["wg_internal_ip"] }}
{% if "persistentKeepAlive" in peer %}
PersistentKeepAlive = {{ peer.persistentKeepAlive }}
{% endif %}
{% endfor %}
